@page
@model ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Restaurants List</h2>

@if (Model.Message2 != null)
{
    <div class="alert alert-danger">@Model.Message2</div>
}
@*<repeat count="5">
        <h4>I will be repeated!! @DateTime.UtcNow.Year</h4>
    </repeat>*@

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>


    @foreach (var restaurant in Model.Restaurants)
    {
        //it will come from partial view
        <partial name="_Summary" model="restaurant" />
    }

<a asp-page="./Edit" class="btn btn-primary">Add New</a>

@*@section footer {
    <div>@Model.Message</div>
}*@
